src/main/resources/org/jscience/ml/gmlfeature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.opengis.net/gml" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:gml="http://www.opengis.net/gml" xmlns:xlink="http://www.w3.org/1999/xlink"
            elementFormDefault="qualified" version="2.1.1">
    <xsd:annotation>
        <xsd:appinfo source="urn:x-opengis:specification:gml:schema-xsd:feature:v2.1.1">2001-12</xsd:appinfo>
        <xsd:documentation xml:lang="en">
            GML Feature schema. Copyright (c) 2001 OGC, All Rights Reserved.

        </xsd:documentation>
    </xsd:annotation>
    <!-- include constructs from the GML Geometry schema -->
    <xsd:include schemaLocation="geometry.xsd"/>
    <!-- ==============================================================
        global declarations
   =================================================================== -->
    <xsd:element name="_Feature" type="gml:AbstractFeatureType" abstract="true"/>
    <xsd:element name="_FeatureCollection" type="gml:AbstractFeatureCollectionType" abstract="true"
                 substitutionGroup="gml:_Feature"/>
    <xsd:element name="featureMember" type="gml:FeatureAssociationType"/>
    <!-- some basic geometric properties of features -->
    <xsd:element name="_geometryProperty" type="gml:GeometryAssociationType" abstract="true"/>
    <xsd:element name="geometryProperty" type="gml:GeometryAssociationType"/>
    <xsd:element name="boundedBy" type="gml:BoundingShapeType"/>
    <xsd:element name="pointProperty" type="gml:PointPropertyType" substitutionGroup="gml:_geometryProperty"/>
    <xsd:element name="polygonProperty" type="gml:PolygonPropertyType" substitutionGroup="gml:_geometryProperty"/>
    <xsd:element name="lineStringProperty" type="gml:LineStringPropertyType" substitutionGroup="gml:_geometryProperty"/>
    <xsd:element name="multiPointProperty" type="gml:MultiPointPropertyType" substitutionGroup="gml:_geometryProperty"/>
    <xsd:element name="multiLineStringProperty" type="gml:MultiLineStringPropertyType"
                 substitutionGroup="gml:_geometryProperty"/>
    <xsd:element name="multiPolygonProperty" type="gml:MultiPolygonPropertyType"
                 substitutionGroup="gml:_geometryProperty"/>
    <xsd:element name="multiGeometryProperty" type="gml:MultiGeometryPropertyType"
                 substitutionGroup="gml:_geometryProperty"/>
    <!-- common aliases for geometry properties -->
    <xsd:element name="location" type="gml:PointPropertyType" substitutionGroup="gml:pointProperty"/>
    <xsd:element name="centerOf" type="gml:PointPropertyType" substitutionGroup="gml:pointProperty"/>
    <xsd:element name="position" type="gml:PointPropertyType" substitutionGroup="gml:pointProperty"/>
    <xsd:element name="extentOf" type="gml:PolygonPropertyType" substitutionGroup="gml:polygonProperty"/>
    <xsd:element name="coverage" type="gml:PolygonPropertyType" substitutionGroup="gml:polygonProperty"/>
    <xsd:element name="edgeOf" type="gml:LineStringPropertyType" substitutionGroup="gml:lineStringProperty"/>
    <xsd:element name="centerLineOf" type="gml:LineStringPropertyType" substitutionGroup="gml:lineStringProperty"/>
    <xsd:element name="multiLocation" type="gml:MultiPointPropertyType" substitutionGroup="gml:multiPointProperty"/>
    <xsd:element name="multiCenterOf" type="gml:MultiPointPropertyType" substitutionGroup="gml:multiPointProperty"/>
    <xsd:element name="multiPosition" type="gml:MultiPointPropertyType" substitutionGroup="gml:multiPointProperty"/>
    <xsd:element name="multiCenterLineOf" type="gml:MultiLineStringPropertyType"
                 substitutionGroup="gml:multiLineStringProperty"/>
    <xsd:element name="multiEdgeOf" type="gml:MultiLineStringPropertyType"
                 substitutionGroup="gml:multiLineStringProperty"/>
    <xsd:element name="multiCoverage" type="gml:MultiPolygonPropertyType" substitutionGroup="gml:multiPolygonProperty"/>
    <xsd:element name="multiExtentOf" type="gml:MultiPolygonPropertyType" substitutionGroup="gml:multiPolygonProperty"/>
    <!-- common feature descriptors -->
    <xsd:element name="description" type="xsd:string"/>
    <xsd:element name="name" type="xsd:string"/>
    <!-- ==============================================================
        abstract supertypes
   =================================================================== -->
    <xsd:complexType name="AbstractFeatureType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>
                An abstract feature provides a set of common properties. A concrete
                feature type must derive from this type and specify additional
                properties in an application schema. A feature may optionally
                possess an identifying attribute ('fid').
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="gml:description" minOccurs="0"/>
            <xsd:element ref="gml:name" minOccurs="0"/>
            <xsd:element ref="gml:boundedBy" minOccurs="0"/>
            <!-- additional properties must be specified in an application schema -->
        </xsd:sequence>
        <xsd:attribute name="fid" type="xsd:ID" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="AbstractFeatureCollectionBaseType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>
                This abstract base type just makes the boundedBy element mandatory
                for a feature collection.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:restriction base="gml:AbstractFeatureType">
                <xsd:sequence>
                    <xsd:element ref="gml:description" minOccurs="0"/>
                    <xsd:element ref="gml:name" minOccurs="0"/>
                    <xsd:element ref="gml:boundedBy"/>
                </xsd:sequence>
                <xsd:attribute name="fid" type="xsd:ID" use="optional"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="AbstractFeatureCollectionType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>
                A feature collection contains zero or more featureMember elements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="gml:AbstractFeatureCollectionBaseType">
                <xsd:sequence>
                    <xsd:element ref="gml:featureMember" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="GeometryPropertyType">
        <xsd:annotation>
            <xsd:documentation>
                A simple geometry property encapsulates a geometry element.
                Alternatively, it can function as a pointer (simple-type link)
                that refers to a remote geometry element.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0">
            <xsd:element ref="gml:_Geometry"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="xlink:simpleLink"/>
        <xsd:attribute ref="gml:remoteSchema" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="FeatureAssociationType">
        <xsd:annotation>
            <xsd:documentation>
                An instance of this type (e.g. a featureMember) can either
                enclose or point to a feature (or feature collection); this
                type can be restricted in an application schema to allow only
                specified features as valid participants in the association.
                When serving as a simple link that references a remote feature
                instance, the value of the gml:remoteSchema attribute can be
                used to locate a schema fragment that constrains the target
                instance.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence minOccurs="0">
            <xsd:element ref="gml:_Feature"/>
        </xsd:sequence>
        <xsd:attributeGroup ref="xlink:simpleLink"/>
        <xsd:attribute ref="gml:remoteSchema" use="optional"/>
    </xsd:complexType>
    <xsd:complexType name="BoundingShapeType">
        <xsd:annotation>
            <xsd:documentation>
                Bounding shapes--a Box or a null element are currently allowed.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice>
                <xsd:element ref="gml:Box"/>
                <xsd:element name="null" type="gml:NullType"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <!-- ==============================================================
        geometry properties
   =================================================================== -->
    <xsd:complexType name="PointPropertyType">
        <xsd:annotation>
            <xsd:documentation>
                Encapsulates a single point to represent position, location, or
                centerOf properties.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:restriction base="gml:GeometryAssociationType">
                <xsd:sequence minOccurs="0">
                    <xsd:element ref="gml:Point"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="xlink:simpleLink"/>
                <xsd:attribute ref="gml:remoteSchema" use="optional"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PolygonPropertyType">
        <xsd:annotation>
            <xsd:documentation>
                Encapsulates a single polygon to represent coverage or extentOf
                properties.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:restriction base="gml:GeometryAssociationType">
                <xsd:sequence minOccurs="0">
                    <xsd:element ref="gml:Polygon"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="xlink:simpleLink"/>
                <xsd:attribute ref="gml:remoteSchema" use="optional"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="LineStringPropertyType">
        <xsd:annotation>
            <xsd:documentation>
                Encapsulates a single LineString to represent centerLineOf or
                edgeOf properties.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:restriction base="gml:GeometryAssociationType">
                <xsd:sequence minOccurs="0">
                    <xsd:element ref="gml:LineString"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="xlink:simpleLink"/>
                <xsd:attribute ref="gml:remoteSchema" use="optional"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="MultiPointPropertyType">
        <xsd:annotation>
            <xsd:documentation>
                Encapsulates a MultiPoint element to represent the following
                discontiguous geometric properties: multiLocation, multiPosition,
                multiCenterOf.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:restriction base="gml:GeometryAssociationType">
                <xsd:sequence minOccurs="0">
                    <xsd:element ref="gml:MultiPoint"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="xlink:simpleLink"/>
                <xsd:attribute ref="gml:remoteSchema" use="optional"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="MultiLineStringPropertyType">
        <xsd:annotation>
            <xsd:documentation>
                Encapsulates a MultiLineString element to represent the following
                discontiguous geometric properties: multiEdgeOf, multiCenterLineOf.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:restriction base="gml:GeometryAssociationType">
                <xsd:sequence minOccurs="0">
                    <xsd:element ref="gml:MultiLineString"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="xlink:simpleLink"/>
                <xsd:attribute ref="gml:remoteSchema" use="optional"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="MultiPolygonPropertyType">
        <xsd:annotation>
            <xsd:documentation>
                Encapsulates a MultiPolygon to represent the following discontiguous
                geometric properties: multiCoverage, multiExtentOf.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:restriction base="gml:GeometryAssociationType">
                <xsd:sequence minOccurs="0">
                    <xsd:element ref="gml:MultiPolygon"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="xlink:simpleLink"/>
                <xsd:attribute ref="gml:remoteSchema" use="optional"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="MultiGeometryPropertyType">
        <xsd:annotation>
            <xsd:documentation>Encapsulates a MultiGeometry element.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:restriction base="gml:GeometryAssociationType">
                <xsd:sequence minOccurs="0">
                    <xsd:element ref="gml:MultiGeometry"/>
                </xsd:sequence>
                <xsd:attributeGroup ref="xlink:simpleLink"/>
                <xsd:attribute ref="gml:remoteSchema" use="optional"/>
            </xsd:restriction>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="NullType">
        <xsd:annotation>
            <xsd:documentation>
                If a bounding shape is not provided for a feature collection,
                explain why. Allowable values are:
                innapplicable - the features do not have geometry
                unknown - the boundingBox cannot be computed
                unavailable - there may be a boundingBox but it is not divulged
                missing - there are no features
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="inapplicable"/>
            <xsd:enumeration value="unknown"/>
            <xsd:enumeration value="unavailable"/>
            <xsd:enumeration value="missing"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
