jscience-old-v1/ressources/astronomy/solarsystem/naturalsatellites/celestialobject.dtd

<!-- entities -->

<!-- the top level element -->
<!ELEMENT celestialobject (general, parameter)>

<!-- elements -->
<!ELEMENT general				(type, name, parent)>
<!ELEMENT parameter				(diameter, rotationperiod, orbitperiod, meanorbitvelocity, orbiteccentricity, orbitinclinationtoecliptic, inclinationofequatortoorbit, volume, distance, mass, density, surfacegravity, escapevelocity, meantempatsolidsurface, majoratmosphericconstitutents)>

<!ELEMENT type					(#PCDATA)>
<!ELEMENT name					(#PCDATA)>
<!ELEMENT parent				(#PCDATA)>

<!ELEMENT diameter				(#PCDATA)>
<!ELEMENT rotationperiod			(#PCDATA)>
<!ELEMENT orbitperiod				(#PCDATA)>
<!ELEMENT meanorbitvelocity			(#PCDATA)>
<!ELEMENT orbiteccentricity			(#PCDATA)>
<!ELEMENT orbitinclinationtoecliptic            (#PCDATA)>
<!ELEMENT inclinationofequatortoorbit           (#PCDATA)>
<!ELEMENT volume				(#PCDATA)>
<!ELEMENT distance				(#PCDATA)>
<!ELEMENT mass					(#PCDATA)>
<!ELEMENT density				(#PCDATA)>
<!ELEMENT surfacegravity			(#PCDATA)>
<!ELEMENT escapevelocity			(#PCDATA)>
<!ELEMENT meantempatsolidsurface		(#PCDATA)>
<!ELEMENT majoratmosphericconstitutents 	(#PCDATA)>

