jscience-old-v1/src/org/jscience/earth/minerals.dtd

<!-- entities -->

<!-- the top level element -->
<!ELEMENT mineral(name, class, formula, structure, habit)>

<!-- elements -->
<!ELEMENT name         (#PCDATA)>
<!ELEMENT class        (#PCDATA)>
<!ELEMENT formula      (#PCDATA)>
<!ELEMENT structure    (#PCDATA)>
<!ELEMENT habit        (#PCDATA)>



