jscience-old-v1/ressources/politics/idc.dtd

<!-- entities -->

<!-- the top level element -->
<!ELEMENT countrycode (country, cc, idd, ndd)>

<!-- elements -->
<!ELEMENT country                        (#PCDATA)>
<!ELEMENT cc                             (#PCDATA)>
<!ELEMENT idd                            (#PCDATA)>
<!ELEMENT ndd                            (#PCDATA)>

