src/main/resources/org/jscience/astronomy/solarsystem/planets/naturalsatellites.dtd

<!-- entities -->

<!-- the top level element -->
<!ELEMENT natural-satellite (name, mass, volume, equatorial-radius, polar-radius, volumetric-mean-radius, ellipticity, mean-density, surface-gravity, surface-acceleration, escape-velocity, GM, bond-albedo, visual-geometric-albedo, visual-magnitude, solar-irradiance, black-body-temperature, moment-of-inertia, J2, number-of-natural-satellites, planetary-ring-system, semi-major-axis, sidereal-orbit-period, tropical-orbit-period, perihelion, aphelion, synodic-period, mean-orbital-velocity, maximum-orbital-velocity, minimum-orbital-velocity, orbit-inclination, orbit-eccentricity, sidereal-rotation-period, length-of-day, obliquity-to-orbit, surface-pressure, average-temperature, atmospheric-composition)>

<!-- elements -->
<!ELEMENT name                            (#PCDATA)>
<!ELEMENT mass                            (#PCDATA)>
<!ELEMENT volume                          (#PCDATA)>
<!ELEMENT equatorial-radius               (#PCDATA)>
<!ELEMENT polar-radius                    (#PCDATA)>
<!ELEMENT volumetric-mean-radius          (#PCDATA)>
<!ELEMENT ellipticity                     (#PCDATA)>
<!ELEMENT mean-density                    (#PCDATA)>
<!ELEMENT surface-gravity                 (#PCDATA)>
<!ELEMENT surface-acceleration            (#PCDATA)>
<!ELEMENT escape-velocity                 (#PCDATA)>
<!ELEMENT GM                              (#PCDATA)>
<!ELEMENT bond-albedo                     (#PCDATA)>
<!ELEMENT visual-geometric-albedo         (#PCDATA)>
<!ELEMENT visual-magnitude                (#PCDATA)>
<!ELEMENT solar-irradiance                (#PCDATA)>
<!ELEMENT black-body-temperature          (#PCDATA)>
<!ELEMENT moment-of-inertia               (#PCDATA)>
<!ELEMENT J2                              (#PCDATA)>
<!ELEMENT number-of-natural-satellites    (#PCDATA)>
<!ELEMENT planetary-ring-system           (#PCDATA)>
<!ELEMENT semi-major-axis                 (#PCDATA)>
<!ELEMENT sidereal-orbit-period           (#PCDATA)>
<!ELEMENT tropical-orbit-period           (#PCDATA)>
<!ELEMENT perihelion                      (#PCDATA)>
<!ELEMENT aphelion                        (#PCDATA)>
<!ELEMENT synodic-period                  (#PCDATA)>
<!ELEMENT mean-orbital-velocity           (#PCDATA)>
<!ELEMENT maximum-orbital-velocity        (#PCDATA)>
<!ELEMENT minimum-orbital-velocity        (#PCDATA)>
<!ELEMENT orbit-inclination               (#PCDATA)>
<!ELEMENT orbit-eccentricity              (#PCDATA)>
<!ELEMENT sidereal-rotation-period        (#PCDATA)>
<!ELEMENT length-of-day                   (#PCDATA)>
<!ELEMENT obliquity-to-orbit              (#PCDATA)>
<!ELEMENT surface-pressure                (#PCDATA)>
<!ELEMENT average-temperature             (#PCDATA)>
<!ELEMENT atmospheric-composition         (#PCDATA)> 