jscience-old-v1/ressources/geography/mondial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="mondial">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="country"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="continent"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="organization"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="mountain"/>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="sea"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="river"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="lake"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="desert"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="island"/>
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="country">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="population"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="population_growth"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="infant_mortality"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="gdp_total"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="gdp_agri"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="gdp_ind"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="gdp_serv"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="inflation"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="indep_date"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="government"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="encompassed"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ethnicgroups"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="religions"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="languages"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="border"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="province"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="city"/>
            </xs:sequence>
            <xs:attribute name="car_code" type="xs:ID"/>
            <xs:attribute name="area" type="xs:string"/>
            <xs:attribute name="capital" type="xs:IDREF"/>
            <xs:attribute name="memberships" type="xs:IDREFS"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="name" type="xs:string"/>
    <xs:element name="area" type="xs:string"/>

    <xs:element name="population">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="year" type="xs:string"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="population_growth" type="xs:string"/>
    <xs:element name="infant_mortality" type="xs:string"/>
    <xs:element name="gdp_total" type="xs:string"/>
    <xs:element name="gdp_ind" type="xs:string"/>
    <xs:element name="gdp_agri" type="xs:string"/>
    <xs:element name="gdp_serv" type="xs:string"/>
    <xs:element name="inflation" type="xs:string"/>
    <xs:element name="indep_date" type="xs:string"/>
    <xs:element name="government" type="xs:string"/>

    <xs:element name="encompassed">
        <xs:complexType>
            <xs:attribute name="continent" type="xs:IDREF" use="required"/>
            <xs:attribute name="percentage" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="ethnicgroups">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="percentage" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="religions">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="percentage" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="languages">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="percentage" type="xs:string" use="required"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="border">
        <xs:complexType>
            <xs:attribute name="country" type="xs:IDREF" use="required"/>
            <xs:attribute name="length" type="xs:string" use="required"/>
            <xs:attribute name="justice" type="xs:IDREF" default="org-UN"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="province">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="area"/>
                <xs:element ref="population"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="city"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="country" type="xs:IDREF" use="required"/>
            <xs:attribute name="capital" type="xs:IDREF"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="city">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="longitude"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="latitude"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="population"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="located_at"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="is_country_cap" type="xs:string"/>
            <xs:attribute name="is_state_cap" type="xs:string"/>
            <xs:attribute name="country" type="xs:IDREF" use="required"/>
            <xs:attribute name="province" type="xs:IDREF"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="longitude" type="xs:string"/>
    <xs:element name="latitude" type="xs:string"/>

    <xs:element name="located_at">
        <xs:complexType>
            <xs:attribute name="watertype" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="river"/>
                        <xs:enumeration value="sea"/>
                        <xs:enumeration value="lake"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="river" type="xs:IDREFS"/>
            <xs:attribute name="sea" type="xs:IDREFS"/>
            <xs:attribute name="lake" type="xs:IDREFS"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="organization">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element ref="abbrev"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="established"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="members"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="headq" type="xs:IDREF"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="abbrev" type="xs:string"/>
    <xs:element name="established" type="xs:string"/>

    <xs:element name="members">
        <xs:complexType>
            <xs:attribute name="type" type="xs:string" use="required"/>
            <xs:attribute name="country" type="xs:IDREFS" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="continent">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element ref="area"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="river">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="to"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="located"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="length"/>
                <xs:element ref="name"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="country" type="xs:IDREFS"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="length" type="xs:string"/>

    <xs:element name="to">
        <xs:complexType>
            <xs:attribute name="watertype" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="river"/>
                        <xs:enumeration value="sea"/>
                        <xs:enumeration value="lake"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="water" type="xs:IDREF" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="located">
        <xs:complexType>
            <xs:attribute name="country" type="xs:IDREF" use="required"/>
            <xs:attribute name="province" type="xs:IDREFS"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="lake">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="located"/>
                <xs:element ref="name"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="area"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="depth"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="country" type="xs:IDREFS"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="depth" type="xs:string"/>

    <xs:element name="sea">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="located"/>
                <xs:element ref="name"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="area"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="depth"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="bordering"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="country" type="xs:IDREFS"/>
            <xs:attribute name="bordering" type="xs:IDREFS"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="desert">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="located"/>
                <xs:element ref="name"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="area"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="country" type="xs:IDREFS"/>
            <xs:attribute name="climate" type="xs:NMTOKENS" fixed="dry aride"/>
            <xs:attribute name="temperature" type="xs:NMTOKEN" default="hot"/>
            <xs:attribute name="ground" default="sand">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="sand"/>
                        <xs:enumeration value="boulders"/>
                        <xs:enumeration value="rocks"/>
                        <xs:enumeration value="snow"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="island">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="located"/>
                <xs:element ref="name"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="area"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="longitude"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="latitude"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="country" type="xs:IDREFS"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="mountain">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="located"/>
                <xs:element ref="name"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="longitude"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="latitude"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="height"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="country" type="xs:IDREFS"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="height" type="xs:string"/>
    <xs:element name="bordering" type="xs:string"/>

</xs:schema>